@using System.Security.Cryptography
@model Cinema.Models.FileModel

@{
    ViewBag.Title = "Tickets";
}


<h2>Tickets</h2>
<h1 class="text-center">Halls</h1>
<ul>
	@foreach (var hall in Model.Halls)
	{
		<li style="list-style-type: none"><h2>______________________ NEw Hall ______________________</h2></li>
		<li>Name - @hall.Name</li>
		<li>ID - @hall.Id</li>
		<li>Places - @hall.Places</li>

	}

</ul>


